.card1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    float: none;
    margin : 0 auto;
    transition: 0.3s;
    display: flex;
    width: 33%;
    height: auto;
  }
  
  .card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container2 {
    padding: 15px 60px;
  }

  .container2 input {
      padding-top: 10px;
  }